In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
job123 = pd.read_json('/content/drive/MyDrive/TichHopDuLieu/data/123job_0105.json')
viectotnhat = pd.read_json('/content/drive/MyDrive/TichHopDuLieu/data/viectotnhat_0105.json')
jobsgo = pd.read_json('/content/drive/MyDrive/TichHopDuLieu/data/jobsgo.json')

In [ ]:
job123.columns = ['title', 'description', 'requirements', 'benefits', 'salary',
                  'company_name', 'position', 'number_available', 'experience', 
                  'working_location', 'news_link', 'deadline']
job123['source'] = "123job.vn"
job123['crawled_time'] = ""
job123['degree'] = ""
job123['gender'] = ""
job123['updated_date'] = ""
job123['company_link'] = ""
job123['company_address'] = ""

In [ ]:
viectotnhat = viectotnhat.drop(['info'], axis=1)
viectotnhat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 856 entries, 0 to 855
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          856 non-null    object
 1   job_desc       856 non-null    object
 2   job_req        856 non-null    object
 3   job_ben        856 non-null    object
 4   salary         856 non-null    object
 5   com_name       856 non-null    object
 6   com_add        856 non-null    object
 7   job_pos        856 non-null    object
 8   job_nums_avai  856 non-null    int64
 9   job_exp        856 non-null    object
 10  location       856 non-null    object
 11  certificate    856 non-null    object
 12  url            856 non-null    object
 13  deadline       856 non-null    object
dtypes: int64(1), object(13)
memory usage: 93.8+ KB

In [ ]:
viectotnhat.columns = ['title', 'description', 'requirements', 'benefits',
                       'salary', 'company_name', 'company_address', 'position',
                       'number_available', 'experience', 'working_location', 
                       'degree', 'news_link', 'deadline']
viectotnhat['source'] = "viectotnhat.com"
viectotnhat['crawled_time'] = ""
viectotnhat['gender'] = ""
viectotnhat['updated_date'] = ""
viectotnhat['company_link'] = ""

In [ ]:
jobsgo.columns = ['title', 'description', 'requirements', 'benefits', 
                  'salary', 'company_name', 'company_address', 
                  'position', 'experience', 'degree', 'company_link',
                  'news_link', 'deadline', 'types']
jobsgo['source'] = "jobsgo.vn"
jobsgo['working_location'] = ""
jobsgo['gender'] = ""
jobsgo['updated_date'] = ""
jobsgo['crawled_time'] = ""
jobsgo['number_available'] = ""

In [ ]:
job1 = pd.concat([job123, viectotnhat], ignore_index=True)

In [ ]:
alljob1 = pd.concat([job1, jobsgo], ignore_index=True)

In [ ]:
job_news = pd.read_json('/content/drive/MyDrive/TichHopDuLieu/data/job_news.json')

In [ ]:
job_news = job_news.drop(['_id'], axis=1)

In [ ]:
alljob2 = pd.concat([alljob1, job_news], ignore_index=True)
alljob2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33703 entries, 0 to 33702
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             33703 non-null  object
 1   description       33649 non-null  object
 2   requirements      33577 non-null  object
 3   benefits          33633 non-null  object
 4   salary            33703 non-null  object
 5   company_name      33703 non-null  object
 6   position          32703 non-null  object
 7   number_available  33703 non-null  object
 8   experience        33703 non-null  object
 9   working_location  33703 non-null  object
 10  news_link         33703 non-null  object
 11  deadline          33703 non-null  object
 12  source            33703 non-null  object
 13  crawled_time      33703 non-null  object
 14  degree            33703 non-null  object
 15  gender            33703 non-null  object
 16  updated_date      33703 non-null  object
 17  company_link      33703 non-null  object
 18  company_address   33703 non-null  object
 19  types             32667 non-null  object
dtypes: object(20)
memory usage: 5.1+ MB

In [ ]:
mywork = pd.read_json("/content/drive/MyDrive/TichHopDuLieu/data/new_myworks.json")
topcv = pd.read_json("/content/drive/MyDrive/TichHopDuLieu/data/new_topcv.json")

In [ ]:
mywork.columns = ['title', 'news_link', 'company_name', 'salary', 'working_location',
                  'number_available', 'experience', 'position', 'gender',
                  'deadline', 'description', 'requirements', 'benefits']
mywork['source'] = 'mywork.com.vn'

In [ ]:
alljob3 = pd.concat([alljob2, mywork], ignore_index=True)
alljob3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52703 entries, 0 to 52702
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             52703 non-null  object
 1   description       52649 non-null  object
 2   requirements      52577 non-null  object
 3   benefits          52633 non-null  object
 4   salary            52703 non-null  object
 5   company_name      52703 non-null  object
 6   position          51703 non-null  object
 7   number_available  52703 non-null  object
 8   experience        52703 non-null  object
 9   working_location  52703 non-null  object
 10  news_link         52703 non-null  object
 11  deadline          52703 non-null  object
 12  source            52703 non-null  object
 13  crawled_time      33703 non-null  object
 14  degree            33703 non-null  object
 15  gender            52703 non-null  object
 16  updated_date      33703 non-null  object
 17  company_link      33703 non-null  object
 18  company_address   33703 non-null  object
 19  types             32667 non-null  object
dtypes: object(20)
memory usage: 8.0+ MB

In [ ]:
topcv.columns = ['title', 'news_link', 'company_name', 'salary', 'working_location', 'number_available',
                 'experience', 'position', 'gender', 'deadline', 'description',
                 'requirements', 'benefits']
topcv['source'] = 'topcv.vn'

In [ ]:
alljob4 = pd.concat([alljob3, topcv], ignore_index=True)
alljob4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65703 entries, 0 to 65702
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             65703 non-null  object
 1   description       65649 non-null  object
 2   requirements      65577 non-null  object
 3   benefits          65633 non-null  object
 4   salary            65703 non-null  object
 5   company_name      65703 non-null  object
 6   position          64703 non-null  object
 7   number_available  65703 non-null  object
 8   experience        65703 non-null  object
 9   working_location  65703 non-null  object
 10  news_link         65703 non-null  object
 11  deadline          65703 non-null  object
 12  source            65703 non-null  object
 13  crawled_time      33703 non-null  object
 14  degree            33703 non-null  object
 15  gender            65703 non-null  object
 16  updated_date      33703 non-null  object
 17  company_link      33703 non-null  object
 18  company_address   33703 non-null  object
 19  types             32667 non-null  object
dtypes: object(20)
memory usage: 10.0+ MB

In [ ]:
data = pd.read_json("/content/drive/MyDrive/TichHopDuLieu/data/1001vieclam.json")
data_job = dict()
# thiếu Hình thức làm việc, ID công việc, Mức thưởng
data_job["source"] = "1001vieclam.com"
data_job["crawled_time"] = ""
data_job["news_link"] = data["url"]
data_job["title"] = data["title"]
data_job["salary"] = data["Lương"]
# data_job["bonus"] = data["Mức thưởng"]
# data_job["working_form"] = data["Hình thức là việc"]
# data_job["ID_job"] = data["ID công việc"]
data_job["number_available"] = ""
data_job["description"] = data["Mô tả công việc"]
data_job["benefits"] = data["Quyền lợi"]
data_job["working_location"] = data["Nơi làm việc"]
data_job["types"] = data["Ngành"]
data_job["experience"] = ""
data_job["degree"] = ""
data_job["gender"] = ""
data_job["updated_date"] = ""
data_job["deadline"] = data["Ngày hết hạn"]
data_job["requirements"] = data["Yêu cầu công việc"]
data_job["company_name"] = data["factory"]
data_job["company_link"] = ""
data_job["company_address"] = ""
datajob3 = pd.DataFrame(data_job)

In [ ]:
data = pd.read_json("/content/drive/MyDrive/TichHopDuLieu/data/careerbuilder.json")
data_job = dict()
# thiếu Hình thức, Cấp bậc, Thông tin khác, jobtags/skill
data_job["source"] = "careerbuilder.vn"
data_job["crawled_time"] = ""
data_job["news_link"] = data["url"]
data_job["title"] = data["title"]
data_job["salary"] = data["Lương"]
# data_job["working_form"] = data["Hình thức"]
# data_job["position"] = data["Cấp bậc"]
data_job["number_available"] = ""
data_job["description"] = data["Mô tả công việc"]
data_job["benefits"] = data["Phúc lợi"]
data_job["working_location"] = data["city"]
data_job["types"] = data["Ngành nghề"]
data_job["experience"] = data["Kinh nghiệm"]
data_job["degree"] = ""
data_job["gender"] = ""
data_job["updated_date"] = ""
data_job["deadline"] = data["Hết hạn nộp"]
data_job["requirements"] = data["Yêu cầu công việc"]
data_job["company_name"] = data["factory"]
data_job["company_link"] = ""
data_job["company_address"] = ""
#data_job["other_information"] = data["thông tin khác"]
# data_job["jobtags"] = data["jobtags/skill"]
datajob4 = pd.DataFrame(data_job)

In [ ]:
data = pd.read_json("/content/drive/MyDrive/TichHopDuLieu/data/vietnamworks.json")
data_job = dict()
# thiếu Kỹ Năng, address (thành phố tuyển dụng)
data_job["source"] = "vietnamworks.com"
data_job["crawled_time"] = ""
data_job["news_link"] = data["url"]
data_job["title"] = data["title"]
data_job["salary"] = data["salary"]
data_job["number_available"] = ""
data_job["description"] = data["Mô Tả Công Việc"]
data_job["benefits"] = data["Phúc lợi"]
data_job["working_location"] = data["Địa điểm làm việc"]
# data_job["city"] = data["address"]
# data_job["skill"] = data["Kỹ năng"]
data_job["types"] = data["Ngành Nghề"]
data_job["experience"] = ""
data_job["degree"] = ""
data_job["gender"] = ""
data_job["updated_date"] = data["Ngày Đăng Tuyển"]
data_job["deadline"] = data["Hạn còn"]
data_job["requirements"] = data["Yêu Cầu Công Việc"]
data_job["company_name"] = data["factory"]
data_job["company_link"] = ""
data_job["company_address"] = ""
datajob5  = pd.DataFrame(data_job)

In [ ]:
alljob41 = pd.concat([alljob4, datajob3], ignore_index=True)
datajob6 = pd.concat([datajob4, datajob5], ignore_index=True)

In [ ]:
alljob_final = pd.concat([alljob41, datajob6], ignore_index=True)
alljob_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93153 entries, 0 to 93152
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             91968 non-null  object
 1   description       93099 non-null  object
 2   requirements      93027 non-null  object
 3   benefits          93083 non-null  object
 4   salary            93153 non-null  object
 5   company_name      91119 non-null  object
 6   position          64703 non-null  object
 7   number_available  93153 non-null  object
 8   experience        93153 non-null  object
 9   working_location  92030 non-null  object
 10  news_link         93153 non-null  object
 11  deadline          91593 non-null  object
 12  source            93153 non-null  object
 13  crawled_time      61153 non-null  object
 14  degree            61153 non-null  object
 15  gender            93153 non-null  object
 16  updated_date      61153 non-null  object
 17  company_link      61153 non-null  object
 18  company_address   61153 non-null  object
 19  types             60117 non-null  object
dtypes: object(20)
memory usage: 14.2+ MB

In [ ]:
alljob_final1 = alljob_final.dropna(subset=['title', 'company_name', 'salary'])
alljob_final1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 91118 entries, 0 to 93152
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             91118 non-null  object
 1   description       91064 non-null  object
 2   requirements      90992 non-null  object
 3   benefits          91048 non-null  object
 4   salary            91118 non-null  object
 5   company_name      91118 non-null  object
 6   position          64703 non-null  object
 7   number_available  91118 non-null  object
 8   experience        91118 non-null  object
 9   working_location  90874 non-null  object
 10  news_link         91118 non-null  object
 11  deadline          89558 non-null  object
 12  source            91118 non-null  object
 13  crawled_time      59118 non-null  object
 14  degree            59118 non-null  object
 15  gender            91118 non-null  object
 16  updated_date      59118 non-null  object
 17  company_link      59118 non-null  object
 18  company_address   59118 non-null  object
 19  types             58082 non-null  object
dtypes: object(20)
memory usage: 14.6+ MB

In [ ]:
alljob_final2 = alljob_final1.drop(['crawled_time', 'updated_date'], axis=1)
# alljob_final2 = alljob_final2.drop(['update_date'], axis=1)

In [ ]:
alljob_final2['title'] = alljob_final2['title'].str.upper()
alljob_final2['company_name'] = alljob_final2['company_name'].str.upper()
alljob_final2['degree'] = alljob_final2['degree'].str.capitalize()
alljob_final2['degree'].replace({"Trung cấp": "Trung cấp - Nghề", "Chứng chỉ" : "Chứng chỉ chuyên ngành",
                                 "Trung học" : "Trung học phổ thông", "Thpt" : "Trung học phổ thông",
                                 "Thạc sỹ" : "Thạc sĩ", "Tiến sỹ" : "Tiến sĩ", "Cao học" : "Thạc sĩ",
                                 "" : "Không yêu cầu", "Thạc sĩ kỹ thuật ứng dụng" : "Thạc sĩ",
                                 "  ": "Không yêu cầu"}, inplace=True)
alljob_final2['gender'].replace({"Chưa cập nhật" : "Không yêu cầu", "" : "Không yêu cầu",
                                 "0" : "Không yêu cầu"}, inplace=True)

In [ ]:
x = 'Không xác định'
alljob_final2['types'] = alljob_final2['types'].fillna(x)

In [ ]:
list_types = []
for i in alljob_final2.index:
  if len(alljob_final2.loc[int(i)]['types']) != 0:
    if type(alljob_final2.loc[int(i)]['types']) != type(list()):
      x = []
      x.append(alljob_final2.loc[int(i)]['types'])
      alljob_final2.loc[int(i)]['types'] = x
    for j in alljob_final2.loc[int(i)]['types']:
      if j not in list_types:
        list_types.append(j)

In [ ]:
textfile = open("/content/drive/MyDrive/TichHopDuLieu/data/list_types.txt", "w")
for element in list_types:
    textfile.write(element + "\n")
textfile.close()

In [ ]:
alljob_final2.to_json('/content/drive/MyDrive/TichHopDuLieu/data/alljob1.json', orient='records')